{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <h3> Home </h3>
    {% for category in categories %}
        <div class="btn-group">
            <a href="{{ category.get_absolute_url }}" class="btn btn-danger">{{ category.name }}</a>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu">
                {% for sub in category.s_category.all %}
                    <a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    <br/><br/><br/>

    {% for product in products %}
        <div class="card" style="width: 20rem; display: inline-block">
            {% thumbnail product.image "400x400" crop="center" as image %}
                <img class="card-img-top" src="{{ image.url }}" alt="Card image cap"
                     width="{{ image.width }}" height="{{ image.height }}">
            {% endthumbnail %}
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text"> {{ product.description }}</p>
                <a href="{{ product.get_absolute_url }}" class="btn btn-primary">See Product!</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}